
<header>
	<div class="container">
		<div id="entHeader" class="row">
			<div class="col-md-4">
				<img data-ng-src="assets/TransXLogo.svg">
			</div>
			<div class="col-md-4 col-md-offset-4" id="entHeaderComponents">
				<a href="">About Us</a>
			</div>
		</div>
		<div class="row" id="clientHeader">
			<div class="col-md-4">
				<img src="assets/josheebro.svg">
			</div>
			<div class="col-md-3 items">
				<a href="">Home</a>				
			</div>
			<div class="col-md-3 items">
				<a href="">Transactions</a>
			</div>
			<div class="col-md-2 items">
				<a href="">Help & FAQs</a>
			</div>
		</div>
	</div>
</header>
